In [78]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/home/ishaan/Documents/Work/Data/Sheet1.csv',  sep = ';')
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 5000)
df.drop(df.columns[24:], axis =1, inplace = True)

In [68]:
imp_index = ['Sno', 'Gender' ,'Name of the Student', 'Class', 'Career Drawn' , 'Gender of the drawing']

In [79]:
df['Gender of the drawing'] = df['Gender of the drawing'].str.capitalize()
df['Gender'] = df['Gender'].str.capitalize()
df['Career Drawn'] = df['Career Drawn'].str.capitalize()
df['Favourite Colour'] = df['Favourite Colour'].str.capitalize()

In [ ]:
df['Career Drawn'].replace(
    to_replace=['indian army', 'commando', 'soldier', 'Army officer'],
    value='Army',
    inplace=True
)

#Army = df[(df['Career Drawn'] == 'indian army' ) | (df['Career Drawn'] == 'commando' ) | (df['Career Drawn'] == 'army' ) | (df['Career Drawn'] == 'soldier') | (df['Career Drawn'] == 'Army officer' ) ]
#df.at[Army.index, 'Career Final'] = 'Army'

# df['Career Drawn'].replace(
#     to_replace=['teacher'],
#     value='Teacher',
#     inplace=True
# )

# df['Career Drawn'].replace(
#     to_replace=['lawyer'],
#     value='Lawyer',
#     inplace=True
# )
# df['Career Drawn'].replace(
#     to_replace=['engineer'],
#     value='Engineer',
#     inplace=True
# )

df['Career Drawn'].replace(
    to_replace=['doctor / nurse', 'doctor'],
    value='Doctor',
    inplace=True
)

Teachers = df[(df['Career Drawn'] == 'Teacher' ) | (df['Career Drawn'] == 'Professor' )]
df.at[Teachers.index, 'Career Final'] = 'Teacher'

doc = df[(df['Career Drawn'] == 'doctor / nurse') |(df['Career Drawn'] == 'dentist') | (df['Career Drawn'] == 'doctor') | (df['Career Drawn'] == 'Doctor')  ]
df.at[doc.index, 'Career Final'] = 'Doctor'

In [ ]:
df['Gender of the drawing'].replace(
    to_replace=['female', 'femake'],
    value='Female',
    inplace=True
)
df['Gender of the drawing'].replace(
    to_replace=['male'],
    value='Male',
    inplace=True
)
df['Gender'].replace(
    to_replace=['boy'],
    value='Boy',
    inplace=True
)
df['Gender'].replace(
    to_replace=['girl'],
    value='Girl',
    inplace=True
)

In [ ]:
# df['Favourite Colour'].replace(
#     to_replace=['red'],
#     value='Red',
#     inplace=True
# )
# df['Favourite Colour'].replace(
#     to_replace=['blue'],
#     value='Blue',
#     inplace=True
# )
# df['Favourite Colour'].replace(
#     to_replace=['black'],
#     value='Black',
#     inplace=True
# )    
# df['Favourite Colour'].replace(
#     to_replace=['white'],
#     value='White',
#     inplace=True
# )

In [80]:
dd = df[~df['Gender of the drawing'].isin(['Male', 'Female'])]
dd.groupby('Gender of the drawing').count()['Sno'].sum()

132

In [20]:
gdd = df.groupby('Gender of the drawing').count()
GDD = gdd.sort_values(['Sno'], ascending = False)
GDD['Sno']

Gender of the drawing
Male              1416
Female            1284
Unclear             45
Seendry             31
Design               6
House                4
Not clear            4
Drawing              3
Rocket               2
Police station       2
None                 2
Ground               2
Flag                 2
Apple                2
Class room           2
Car                  2
Femake               1
Picture              1
Bird                 1
Tractor              1
Tattu                1
Study table          1
Snake dance          1
Blood donate         1
Border               1
Boy                  1
Pitch                1
Painter              1
Parlor               1
Fruit                1
Diwali scene         1
Ladies dress         1
Lab                  1
Instrument           1
B                    1
Gun shop             1
Duck                 1
Gittar               1
_                    1
Name: Sno, dtype: int64

In [81]:
G = pd.isnull(df['Gender'])
Gender_missing = df[G]
gd = pd.isnull(df['Gender of the drawing'])
Gd_missing = df[gd]
Cd = pd.isnull(df['Career Drawn'])
Cd_missing = df[Cd]

In [82]:
Cdd = df[(df['Career Drawn'] == 'Not clear') |(df['Career Drawn'] == 'Unclear') |(df['Career Drawn'] == 'Unspecified')  ]

In [83]:
r = [Cd_missing, Gd_missing, Gender_missing ,dd,Cdd ]
remove = pd.concat(r, sort = True)

In [53]:
A = df.groupby('Gender of the drawing').count()
A['Sno']

Gender of the drawing
Female    1284
Male      1416
Name: Sno, dtype: int64

In [54]:
P = df.count()
P['Sno']

2700

In [ ]:
df.drop(remove.index , inplace = True)

In [85]:
P = df.count()
P['Sno']

2684

In [91]:
df['Gender'].value_counts(normalize = True)

Girl         0.524218
Boy          0.475037
Not clear    0.000373
Gril         0.000373
Name: Gender, dtype: float64

In [ ]:
df.to_csv('/home/ishaan/Documents/Work/Data/S1.csv', index=False)

In [62]:
Color= df.groupby('Favourite Colour').count()
Color.sort_values(['Sno'], ascending = False)['Sno']

Favourite Colour
Red                    751
Pink                   461
Green                  312
Blue                   309
Black                  229
Yellow                 140
White                  117
Orange                  55
Purple                  31
Sky blue                28
Brown                   14
Grey                    11
Light green              8
Light blue               7
Black and white          6
Red black                4
Dark blue                4
Golden                   4
Navy blue                3
Black                    3
Red                      2
Red green                2
Baby pink                2
_                        2
Bluq                     2
Blue and yellow          2
Blue and pink            2
Blue and orange          2
Black or white           2
Green                    2
Red yellow               1
Silver                   1
Red brown                1
Read                     1
Unclear                  1
Red and silver           1
Red and green            1
Red  brown               1
Written in kannada       1
All                      1
Purple and yellow        1
Purpal                   1
Parrot green             1
Not written              1
Neon                     1
Maroon                   1
Light blue and pink      1
Khaki                    1
Indigo                   1
Green and red            1
Green and pink           1
Dark brown               1
Blue and black           1
Black and red            1
Black and green          1
Margenda                 1
Name: Sno, dtype: int64

In [86]:
Prof= df.groupby('Career Drawn').count()
Prof.sort_values(['Sno'], ascending = False)['Sno']

Career Drawn
Teacher                 740
Doctor                  323
Army                    247
Police                  223
Not clear               131
Footballer               72
Nurse                    65
Farmer                   52
Singer                   46
Scientist                36
Engineer                 31
Pilot                    27
Soldier                  26
Painter                  23
Dancer                   22
Cricketer                20
House wife               19
Sports person            17
Unclear                  15
Lawyer                   14
Model                    13
Cricketer                13
Football player          13
Artist                   12
Computer engineer        12
Builder                  12
Ips officer              11
Driver                   11
Commando                 10
Air hostess              10
Fashion designer         10
Train driver              9
Environmentalist          8
Army officer              8
Mechanic                  8
Architect                 7
Social worker             6
Ambulance driver          6
Tailor                    6
Astronaut                 6
Mehandi designer          6
Leader                    6
Indian army               6
Office work               6
Badminton player          6
Traffic police            5
Chef                      5
Designer                  5
Bus driver                5
Office job                5
Bank manager              5
Player                    5
Fauzi                     4
Judge                     4
Hockey player             4
Computer teacher          4
Computer operator         4
Factories man             4
Shop keeper               4
Ias officer               4
Air force                 4
Sister religion           3
Actor                     3
English tacher            3
Mistry                    3
Guitarist                 3
Math teacher              3
Principal                 3
Bank officer              3
D j player                3
Army man                  3
Crpf                      3
Astronot                  3
Politician                3
Police inspector          3
Software                  3
Karate                    3
Goal keeper               2
Restaurant owner          2
Foot ball player          2
Beautician                2
Basket ball player        2
Army  officer             2
Reporter                  2
Gospel singer             2
Poet                      2
Masson                    2
Police woman              2
Polce                     2
Hindi teacher             2
Player ball               2
Banker                    2
Athele                    2
Rich                      2
Police officer            2
Photographer              2
Computer worker           2
Cid officer               2
Cycle                     2
Spacecraft                2
Actress                   2
Deshbhakt                 2
Boxer                     2
Dj                        2
Cook                      2
Doctor / nurse            2
Carpenter/police          2
Cleaner                   2
Navy                      2
Carpenter                 2
Enironment                2
Musician                  2
Sweeper                   2
Software engineer         2
Armt                      2
Civilian                  2
Police                    1
Petrol pump               1
Police dsp                1
Police man                1
Umpire                    1
Written in kannada        1
Van driver                1
Writer                    1
Weaver                    1
Planter                   1
Planting trees            1
Player                    1
Punjab police             1
Truck driver              1
Transporter               1
Shutter                   1
Shop owner                1
Spider man                1
Sports                    1
Pastor                    1
Student                   1
Sharp shooter             1
Security guard            1
Security                  1
Sub inspector             1
Teacher                   1
Tenis player              1
Sailor                    1
Policeman                 1
Researcher                1
Reader                    1
Racer                     1
Punjabi singher           1
Sketch painter            1
Professor                 1
Professional              1
Trecking                  1
President                 1
Post man                  1
Pope                      1
Tree cutter               1
Shooter                   1
Acp                       1
Paster                    1
Car mechanic              1
Cbi                       1
Charity                   1
Chotta bheem              1
Chowkidaar                1
Cid                       1
Clerk                     1
Clown                     1
Comando                   1
Common man                1
Computer                  1
Computer  operator        1
Construction job          1
Dentist                   1
District collector        1
Dj operator               1
Cartoon                   1
Car driver                1
Officer                   1
Captain of ship           1
Advocate                  1
Agriculture               1
Animal husbandry          1
Army driver               1
Army woman                1
Astronomy                 1
Athlete                   1
Automobile repairing      1
Band                      1
Biker                     1
Bird scather              1
Brain doctor              1
Business                  1
Business man              1
Butcher                   1
Doctor of ear             1
Dsp                       1
Electician                1
Factory                   1
Karate king               1
King                      1
Ladies police             1
Lawyer                    1
Lectural                  1
Magician                  1
Minister                  1
Missionary pastor         1
Monitor                   1
Mother                    1
Music                     1
Music teacher             1
Ninja                     1
Nun                       1
Nursery                   1
Kabbadi playet            1
Job                       1
Jailor                    1
Goldsmith                 1
Film industry             1
Fire man                  1
Florist                   1
Forest guard              1
Gamer                     1
Gangster                  1
Halwai                    1
Ips                       1
Head clerk                1
History teacher           1
Horticulture              1
Hotel management          1
Indian navy               1
Inspector                 1
Yoga                      1
Name: Sno, dtype: int64

In [66]:
df.head()

,Sno,School Code,State,District,Block,School Name,Type,School Type,MIS Type,Name of the Student,Gender,Class,Stream (if class XI and XII,Favourite Subject,Favourite Colour,Mothers Occupation,Fathers Occupation,Career Drawn,Hockey,Gender of the drawing,Situation of the as drawn,Remarks if any,Unique Codes given to papers,Done By
0,1,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Shashank.N.N,Boy,7,NaN,Social Science,Pink,Employee,Farmer,Boy,NaN,Female,Classroom,NaN,NaN,NaN
1,2,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Ejaerjaa Dhaj,Boy,7,NaN,Social Science,Pink,Employee,Farmer,Boy,NaN,Male,farmland,Subsistence Agriculture,NaN,NaN
2,3,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Thejas,Boy,7,NaN,Kannada,Red,House Wife,Farmer,Boy,NaN,Female,School,NaN,NaN,NaN
3,4,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Sushmitha,Girl,7,NaN,Social Science,Green,House Wife,Employee,Girl,NaN,Female,Classroom,NaN,NaN,NaN
4,5,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Sinchana. K,Girl,7,NaN,Social Science,Red,Employee,Employee,Girl,NaN,Male,Open Classroom,Playground is Prominent,NaN,NaN