In [23]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/home/is99/Documents/Py/Research-airtel/Data/data.csv', error_bad_lines=False, sep = ',')
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 5000)
df.drop(df.columns[27:], axis =1, inplace = True)

In [24]:
imp_index = ['Sno', 'Gender' ,'Name of the Student', 'Class', 'Career Drawn' , 'Gender of the drawing']

In [36]:
df.head()

,Sno.,School Code,State,District,Block,School Name,Type,School Type,MIS Type,Name of the Student,Gender,Class,Stream (if class XI and XII,Favourite Subject,Favourite Colour,Mother's Occupation,CategoryM,Sub CategoryM,Father's Occupation,CategoryF,Sub CategoryF,Career Drawn,CategoryC,Sub CategoryC,Specialisation if mentioned,Gender of the drawing,Career Final
0,1,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Shashank.N.N,Boy,7,NaN,Social Science,Pink,Desk job,Elementary Occupations,Office/Work Job,Farmer,"Agriculture, Fishery and Forestry",Farmer,Teacher,Teacher (Teaching Staff),Teacher,NaN,Female,Teacher
1,2,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Ejaerjaa Dhaj,Boy,7,NaN,Social Science,Pink,Desk job,Elementary Occupations,Office/Work Job,Farmer,"Agriculture, Fishery and Forestry",Farmer,Farmer,"Agriculture, Fishery and Forestry",Farmer,NaN,Male,NaN
2,3,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Thejas,Boy,7,NaN,Kannada,Red,House Wife,Cultural Professionals,Social,Farmer,"Agriculture, Fishery and Forestry",Farmer,Teacher,Teacher (Teaching Staff),Teacher,NaN,Female,Teacher
3,4,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Sushmitha,Girl,7,NaN,Social Science,Green,House Wife,Cultural Professionals,Social,Desk Job,Elementary Occupations,Office/Work Job,Teacher,Teacher (Teaching Staff),Teacher,NaN,Female,Teacher
4,5,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Sinchana. K,Girl,7,NaN,Social Science,Red,Desk job,Elementary Occupations,Office/Work Job,Desk Job,Elementary Occupations,Office/Work Job,Teacher,Teacher (Teaching Staff),Teacher,NaN,Male,Teacher

In [25]:
df['Gender of the drawing'] = df['Gender of the drawing'].str.capitalize()
df['Gender'] = df['Gender'].str.capitalize()
df['Career Drawn'] = df['Career Drawn'].str.capitalize()
df['Favourite Colour'] = df['Favourite Colour'].str.capitalize()

In [26]:
df['Career Drawn'].replace(
    to_replace=['indian army', 'commando', 'soldier', 'Army officer'],
    value='Army',
    inplace=True
)

#Army = df[(df['Career Drawn'] == 'indian army' ) | (df['Career Drawn'] == 'commando' ) | (df['Career Drawn'] == 'army' ) | (df['Career Drawn'] == 'soldier') | (df['Career Drawn'] == 'Army officer' ) ]
#df.at[Army.index, 'Career Final'] = 'Army'

df['Career Drawn'].replace(
    to_replace=['doctor / nurse', 'doctor'],
    value='Doctor',
    inplace=True
)

Teachers = df[(df['Career Drawn'] == 'Teacher' ) | (df['Career Drawn'] == 'Professor' )]
df.at[Teachers.index, 'Career Final'] = 'Teacher'

doc = df[(df['Career Drawn'] == 'doctor / nurse') |(df['Career Drawn'] == 'dentist') | (df['Career Drawn'] == 'doctor') | (df['Career Drawn'] == 'Doctor')  ]
df.at[doc.index, 'Career Final'] = 'Doctor'

In [27]:
df['Gender of the drawing'].replace(
    to_replace=['female', 'femake'],
    value='Female',
    inplace=True
)
df['Gender of the drawing'].replace(
    to_replace=['male'],
    value='Male',
    inplace=True
)
df['Gender'].replace(
    to_replace=['boy'],
    value='Boy',
    inplace=True
)
df['Gender'].replace(
    to_replace=['girl'],
    value='Girl',
    inplace=True
)

In [28]:
dd = df[~df['Gender of the drawing'].isin(['Male', 'Female'])]
dd.groupby('Gender of the drawing').count()['Sno.'].sum()

5394

In [30]:
gdd = df.groupby('Gender of the drawing').count()
GDD = gdd.sort_values(['Sno.'], ascending = False)
GDD['Sno.']

Gender of the drawing
Male        10851
Female       8973
Unknown      4795
Multiple      599
Name: Sno., dtype: int64

In [31]:
G = pd.isnull(df['Gender'])
Gender_missing = df[G]
gd = pd.isnull(df['Gender of the drawing'])
Gd_missing = df[gd]
Cd = pd.isnull(df['Career Drawn'])
Cd_missing = df[Cd]

In [32]:
Cdd = df[(df['Career Drawn'] == 'Not clear') |(df['Career Drawn'] == 'Unclear') |(df['Career Drawn'] == 'Unspecified')  ]

In [33]:
r = [Cd_missing, Gd_missing, Gender_missing ,dd,Cdd ]
remove = pd.concat(r, sort = True)

In [34]:
A = df.groupby('Gender of the drawing').count()
A['Sno.']

Gender of the drawing
Female       8973
Male        10851
Multiple      599
Unknown      4795
Name: Sno., dtype: int64

In [16]:
P = df.count()
P['Sno.']

25218

In [17]:
df.drop(remove.index , inplace = True)

In [19]:
P = df.count()
P['Sno.']

18950

In [37]:
CatC= df.groupby('CategoryC').count()
CatC.sort_values(['Sno.'], ascending = False)['Sno.']

CategoryC
Teacher (Teaching Staff)                  7749
Protective Services Workers               6710
Health                                    2598
Not Know/Unclear Profession               2534
Elementary Occupations                    1658
Sports                                    1048
Cultural Professionals                    1006
Science Technology and Mathematics         812
Legal Professionals and Office holders     791
Agriculture, Fishery and Forestry          312
Name: Sno., dtype: int64

In [20]:
df['Gender'].value_counts(normalize = True)

Girl    0.521319
Boy     0.478681
Name: Gender, dtype: float64

In [ ]:
df.to_csv('/home/ishaan/Documents/Work/Data/S1.csv', index=False)

In [62]:
Color= df.groupby('Favourite Colour').count()
Color.sort_values(['Sno'], ascending = False)['Sno']

Favourite Colour
Red                    751
Pink                   461
Green                  312
Blue                   309
Black                  229
Yellow                 140
White                  117
Orange                  55
Purple                  31
Sky blue                28
Brown                   14
Grey                    11
Light green              8
Light blue               7
Black and white          6
Red black                4
Dark blue                4
Golden                   4
Navy blue                3
Black                    3
Red                      2
Red green                2
Baby pink                2
_                        2
Bluq                     2
Blue and yellow          2
Blue and pink            2
Blue and orange          2
Black or white           2
Green                    2
Red yellow               1
Silver                   1
Red brown                1
Read                     1
Unclear                  1
Red and silver           1
Red and green            1
Red  brown               1
Written in kannada       1
All                      1
Purple and yellow        1
Purpal                   1
Parrot green             1
Not written              1
Neon                     1
Maroon                   1
Light blue and pink      1
Khaki                    1
Indigo                   1
Green and red            1
Green and pink           1
Dark brown               1
Blue and black           1
Black and red            1
Black and green          1
Margenda                 1
Name: Sno, dtype: int64

In [22]:
Prof= df.groupby('Career Drawn').count()
Prof.sort_values(['Sno.'], ascending = False)['Sno.']

Career Drawn
Teacher                  6823
Police                   2280
Doctor                   1947
Army                     1678
Soldier                  1534
Singer                    344
Sports person             281
Computer engineer         264
Scientist                 257
Nurse                     217
Farmer                    207
Cricketer                 206
Dancer                    172
Pilot                     153
Football player           137
Artist                    136
Lawyer                    133
Driver                    130
Business                  126
Ips officer               124
Bank officers             117
Painter                   112
Ias officer                82
Fashion designer           63
Politician                 60
Cook                       47
Player                     47
Air hostess                45
Indian navy                44
District collector         44
Air force                  43
Model                      40
Beautician                 38
Mechanic                   37
House wife                 37
Chartered accountant       37
Shop keeper                37
Kabbadi player             35
Commando                   31
Desk job                   29
Astronaut                  28
Builder                    26
Judge                      26
Actor                      22
Reporter                   22
Social worker              22
Hockey player              20
Principal                  20
Dj                         19
Photographer               19
Body builder               18
Computer operator          18
Office work                17
Fire fighter               16
Tailor                     16
Patriotic                  16
Badminton player           15
Writer                     15
Musician                   14
Cid                        13
Officer                    13
Volleyball player          13
Security guard             12
Freedom fighter            12
Labour                     11
Serviceman                 11
Electrician                11
Architecture               11
Nursery                    10
Car mechanic                9
Actress                     9
Fisherman                   8
Carpenter                   8
Mason                       8
Wrestler                    7
Karate                      7
Magician                    7
Space scientist             6
Bsf                         6
Crpf                        6
Poet                        6
Manager                     5
Railway job                 5
Dsp                         5
Post official               5
Restaurant owner            5
Civil engineer              5
Sweeper                     5
Veteran                     5
Agriculture officer         5
Loco pilot                  5
Pharmacist                  4
Acp                         4
Cyclist                     4
Head master                 4
Basketball player           4
Boxer                       4
Cbi                         4
Civil service officer       4
Forest guard                4
Zoo keeper                  4
Kho kho player              4
Clerk                       3
Shooter                     3
Animal husbandry            3
Umpire                      3
Lecturer                    3
Rock star                   3
English tacher              3
Cleaner                     3
Gangster                    3
Priest                      3
Sister religion             3
Racer                       2
Rickshaw puller             2
Miss india                  2
Mechanical engineer         2
Captain                     2
Supervisor                  2
Swimmer                     2
Tennis player               2
Transporter                 2
Trekking                    2
Wood cutter                 2
Dcp                         2
Librarian                   2
Hotel manager               2
Pastor                      2
Director                    2
Mobile shop                 2
Judo champion               2
Dentist                     1
Blacksmith                  1
Bird catcher                1
Goldsmith                   1
Hardware engineer           1
Balloon seller              1
Toll tax collector          1
Tree cutter                 1
Butcher                     1
Jailor                      1
Nda officer                 1
Automobile repairing        1
Assistant                   1
Ncc                         1
Jewellery designer          1
Anchor                      1
You tuber                   1
Peon                        1
Sketch painter              1
Pet shop                    1
Encounter specialist        1
Professor                   1
Psychologist                1
Pwd                         1
Economist                   1
Rapper                      1
Receptionist                1
Cobbler                     1
Mother                      1
Plumber                     1
Pope                        1
Salute                      1
Santa claus                 1
Foreign country             1
Physcial trainer            1
Cisf                        1
Chess player                1
Milk man                    1
Fruit selller               1
Monitor                     1
Name: Sno., dtype: int64

In [66]:
df.head()

,Sno,School Code,State,District,Block,School Name,Type,School Type,MIS Type,Name of the Student,Gender,Class,Stream (if class XI and XII,Favourite Subject,Favourite Colour,Mothers Occupation,Fathers Occupation,Career Drawn,Hockey,Gender of the drawing,Situation of the as drawn,Remarks if any,Unique Codes given to papers,Done By
0,1,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Shashank.N.N,Boy,7,NaN,Social Science,Pink,Employee,Farmer,Boy,NaN,Female,Classroom,NaN,NaN,NaN
1,2,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Ejaerjaa Dhaj,Boy,7,NaN,Social Science,Pink,Employee,Farmer,Boy,NaN,Male,farmland,Subsistence Agriculture,NaN,NaN
2,3,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Thejas,Boy,7,NaN,Kannada,Red,House Wife,Farmer,Boy,NaN,Female,School,NaN,NaN,NaN
3,4,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Sushmitha,Girl,7,NaN,Social Science,Green,House Wife,Employee,Girl,NaN,Female,Classroom,NaN,NaN,NaN
4,5,P11504,Karnataka,Ramanagara,RAMANAGARA,Ghps Kg Hosahalli,Co-ed School,Elementary,Pri+Ele,Sinchana. K,Girl,7,NaN,Social Science,Red,Employee,Employee,Girl,NaN,Male,Open Classroom,Playground is Prominent,NaN,NaN